.app__login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.app__logout-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem 0 3rem 0;
    min-height: 50%;
    min-width: 50%;
    background-color: var(--color-black);
}

.app__logout-wrapper h2 {
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 1rem 0 1rem 0;
}

.app__login-wrapper input {
    width: 80%
}

.app__login-email,
.app__login-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 2rem 0;
}


.app__login-email label {
    color: white;
    margin-bottom: 1rem;
}

.app__login-password label {
    color: white;
    margin-bottom: 1rem;
}

.app__login-form button {
    margin-bottom: 2rem;
}


@media screen and (max-width: 650px) {
    .app__logout-wrapper {
        margin: -10rem 0 3rem 0;
    }

    .app__logout-wrapper h2 {
        font-size: 24px;
    }
}