.app__notes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.app__notes-wrapper {
    margin: 6rem 0 3rem 0;
    min-height: 80vh;
    min-width: 90vw;
}

.app__notes-read {
    background-color: var(--color-black);
}

.app__notes-read h1 {
    text-transform: capitalize;
    padding: 1rem 1rem;
    font-size: 1.75rem;
}

.app__notes-note {
    padding: 0.5rem 0 0.5rem 1rem;
    text-align: left;
    border: 3px solid var(--color-gray);
}

.app__notes-note p:first-child {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 3px;
    font-size: 1.25rem;
}

.app__notes-note p:nth-last-child(-n+2) {
    font-size: 0.75rem;
}

.app__notes-note .delete__button:hover {
    transition: all ease-in-out 300ms;
    color: white;
    transform: scale(1.02);
}

.app__notes-write {
    background-color: var(--color-black);
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.app__notes-write_title {
    margin: 2rem 0 0.5rem 1rem;
    width: 60%;
    resize: none;
}

.app__notes-write_note {
    margin: 0rem 0 0.5rem 1rem;
    width: 70%;
    resize: none;
}

.app__notes-write h2 {
    margin: 2rem 0 0rem 2rem;
    font-size: 1.75rem;
}

.app__notes-write button {
    margin: 1rem 0 3rem 2rem;
}

.app__notes-write button:hover {
    transition: all ease-in-out 300ms;
    color: white;
    transform: scale(1.02);
}



input[type=text]:focus {
    border: 3px solid #555;
}

