.app__bg {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: rgb(52, 191, 252);
  background: linear-gradient(180deg, rgba(52, 191, 252, 1) 0%, rgb(82, 186, 255) 50%, rgba(0, 111, 171, 1) 100%);
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 600;
  letter-spacing: 0.04em;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
}

.p__header {
  font-family: var(--font-alt);
  color: var(--color-blue);
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
}

.custom__button {
  background-color: var(--color-golden);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom__button:hover {
  transition: all ease-in-out 300ms;
  color: white;
  transform: scale(1.02);
}

.custom__button:disabled {
  background-color: var(--color-btndisabled);
  color: var(--color-btndisabledtext);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete__button {
  background-color: red;
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: bold;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.1rem 0.5rem;
  margin: 0.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete__button:hover {
  transition: all ease-in-out 300ms;
  color: white;
  transform: scale(1.02);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}