@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font-base: 'Roboto', serif;
  --font-alt: 'Open Sans', sans-serif;
  --color-btndisabled: #055a87;
  --color-btndisabledtext: #282A3A;
  --color-black: #000000;
  --color-nightmode: #18181b;
  --color-gray: #282A3A;
  --color-cooper: #735F32;
  --color-golden: #C69749;
  --color-white: #FFF;
  --color-blue: #0a4a70;
  --color-back: #072f4a;
  --color-enersa-orginal: #006eab;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}